[selfTooptip] {
    position: relative;
}

[selfTooptip]::after {
    display: none;
    content: attr(selfTooptip);
    position: absolute;
    white-space: nowrap;
    padding: 8px 15px;
    border-radius: 4px;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.4);
    z-index: 100;
}

[selfTooptip]::before {
    display: none;
    content: '';
    position: absolute;
    border: 5px solid transparent;
    border-bottom-width: 0;
    z-index: 100;
}

[selfTooptip][disabled="disabled"]:hover::after {
    display: block;
}

[selfTooptip][disabled="disabled"]:hover::before {
    display: block;
}

[selfTooptip][placement^="top"]::after, [selfTooptip][placement^="top"]::before {
    animation: anime-top 300ms ease-out forwards;
}

[selfTooptip][placement^="right"]::after, [selfTooptip][placement^="right"]::before {
    animation: anime-right 300ms ease-out forwards;
}

[selfTooptip][placement^="bottom"]::after, [selfTooptip][placement^="bottom"]::before {
    animation: anime-bottom 300ms ease-out forwards;
}

[selfTooptip][placement^="left"]::after, [selfTooptip][placement^="left"]::before {
    animation: anime-left 300ms ease-out forwards;
}

[selfTooptip]::after {
    color: #ffffff;
    background-color: #313131;
}

[selfTooptip][effect="light"]::after {
    color: #313131;
    background-color: #ffffff;
    border: 1px solid #313131;
}

/* 气泡位置 */
/*----上----*/
[selfTooptip]:not([placement])::after, [selfTooptip][placement=""]::after, [selfTooptip][placement="top"]::after {
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translate(-50%, 0);
}

[selfTooptip][placement="top-right"]::after {
    bottom: calc(100% + 10px);
    left: 100%;
    transform: translate(-100%, 0);
}

[selfTooptip][placement="top-left"]::after {
    bottom: calc(100% + 10px);
    left: 0;
    transform: translate(0, 0);
}

/*----右----*/
[selfTooptip][placement="right"]::after {
    left: calc(100% + 10px);
    top: 50%;
    transform: translate(0, -50%);
}

[selfTooptip][placement="right-top"]::after {
    left: calc(100% + 10px);
    top: 0;
    transform: translate(0, 0);
}

[selfTooptip][placement="right-bottom"]::after {
    left: calc(100% + 10px);
    top: 100%;
    transform: translate(0, -100%);
}

/*----下----*/
[selfTooptip][placement="bottom"]::after {
    top: calc(100% + 10px);
    left: 50%;
    transform: translate(-50%, 0);
}

[selfTooptip][placement="bottom-right"]::after {
    top: calc(100% + 10px);
    left: 100%;
    transform: translate(-100%, 0);
}

[selfTooptip][placement="bottom-left"]::after {
    top: calc(100% + 10px);
    left: 0;
    transform: translate(0, 0);
}

/*----左----*/
[selfTooptip][placement="left"]::after {
    right: calc(100% + 10px);
    top: 50%;
    transform: translate(0, -50%);
}

[selfTooptip][placement="left-top"]::after {
    right: calc(100% + 10px);
    top: 0;
    transform: translate(0, 0);
}

[selfTooptip][placement="left-bottom"]::after {
    right: calc(100% + 10px);
    top: 100%;
    transform: translate(0, -100%);
}

/* 三角形主题 */
[selfTooptip]::before {
    border-top-color: #313131;
}

[selfTooptip][effect="light"]::before {
    border-top-color: #313131;
}

/* 三角形位置 */
/*----上----*/
[selfTooptip]:not([placement])::before, [selfTooptip][placement=""]::before, [selfTooptip][placement="top"]::before {
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translate(-50%, 0);
}

[selfTooptip][placement="top-left"]::before {
    bottom: calc(100% + 5px);
    left: 10px;
}

[selfTooptip][placement="top-right"]::before {
    bottom: calc(100% + 5px);
    right: 10px;
}

/*----右----*/
[selfTooptip][placement="right"]::before, [selfTooptip][placement="right-top"]::before, [selfTooptip][placement="right-bottom"]::before {
    left: calc(100% + 3px);
    top: 50%;
    transform: translate(0, -50%) rotateZ(90deg);
}

[selfTooptip][placement="right-top"]::before {
    top: 10px;
}

[selfTooptip][placement="right-bottom"]::before {
    bottom: 10px;
    top: auto;
    transform: translate(0, 0) rotateZ(90deg);
}

/*----下----*/
[selfTooptip][placement="bottom"]::before, [selfTooptip][placement="bottom-left"]::before, [selfTooptip][placement="bottom-right"]::before {
    top: calc(100% + 5px);
    left: 50%;
    transform: translate(-50%, 0) rotateZ(180deg);
}

[selfTooptip][placement="bottom-left"]::before {
    transform: translate(0, 0) rotateZ(180deg);
    left: 10px;
}

[selfTooptip][placement="bottom-right"]::before {
    right: 10px;
    left: auto;
}

/*----左----*/
[selfTooptip][placement="left"]::before, [selfTooptip][placement="left-top"]::before, [selfTooptip][placement="left-bottom"]::before {
    right: calc(100% + 3px);
    top: 50%;
    transform: translate(0, -50%) rotateZ(270deg);
}

[selfTooptip][placement="left-top"]::before {
    top: 10px;
}

[selfTooptip][placement="left-bottom"]::before {
    bottom: 10px;
    top: auto;
    transform: translate(0, 0) rotateZ(270deg);
}

@keyframes anime-top {
    from {
        opacity: .5;
        bottom: 150%;
    }
}

@keyframes anime-bottom {
    from {
        opacity: .5;
        top: 150%;
    }
}

@keyframes anime-left {
    from {
        opacity: .5;
        right: 150%;
    }
}

@keyframes anime-right {
    from {
        opacity: .5;
        left: 150%;
    }
}